
.updateShoppingListForm input, .createShoppingListForm input, .loginForm input {
    display: block;
    width:300px;
    padding:5px;
}

.updateShoppingListForm label, .createShoppingListForm label, .loginForm label {
    font-weight:bold;
    padding:5px;
}